:root{
    --primary-color: linear-gradient(135deg, rgba(111,225,231,0.2)0%,rgba(72,56,149,0.8)100%);
    --white : #FAFAFA;
    --marine-blue: #556080;
    --light-green: #2fdbb6;
    --light-black: rgba(0, 0, 0, .7);
    --light-white: rgba(255,255,255,.7);
    --light-gray: #EEE;
    --aldrich: 'Aldrich', sans-serif;
    }